
<div class="banner">
  <div class="container">
    <h1>Welcome to AirTurn Up</h1>
    <p>Find the best flats</p>
    <%= link_to "Search flats", flats_path, class: "home-button" %>
  </div>
</div>


