.standard-button {
  background-color: #333333;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.standard-button:hover {
  background-color: #404040;
  text-decoration: none;
  color: white;
}


.home-button {
  background-color: #E2DA56;
  border: none;
  color: #333333;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.home-button:hover {
  background-color: #e5df66;
  text-decoration: none;
  color: #333333;
}


// #E2DA56
